[submodule "external/my-lisp"]
	path = external/my-lisp
	url = https://github.com/juv4uk/my-lisp.git
[submodule "plugin/deps/red4ext.sdk"]
	path = plugin/deps/red4ext.sdk
	url = https://github.com/WopsS/RED4ext.SDK.git
